/* importando o global */
@import url('./global.css');

body{
    /* usando a variavel global no bg */
    background-color: var(--variable-exemplo);
}

.hero{
    margin-top:  100px;
    background: url('../assets/images/fundo.jpg');
    background-repeat: no-repeat;
    background-position: centrer;
    height: 100px;
}

